@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

$color-primary: #ff0101;
$color-secondary: #fbfbfb;
$color-tertiary: #74798c;
$white: #fff;
$black: #020203;
$grey: #f6f6f6;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

li {
  list-style-type: none;
}

a {
  color: $white;
  text-decoration: none;
}

.container {
  position: relative;
  margin-left: 120px;
  padding: 60px 0 0 100px;
  color: $black;

  a {
    color: $black;
  }

  span {
    color: $color-primary;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    padding: 50px 0 0 50px;
  }
}
