.chart-activity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 835px;
  height: 320px;
  background-color: $color-secondary;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  padding: 25px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 15px;
      font-weight: 500;
      color: #20253a;
    }

    .donnees {
      display: flex;
      gap: 50px;

      p {
        position: relative;
        font-size: 14px;
        font-weight: 500;
        color: #74798c;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: -20px;
          transform: translate(0, -50%);
          height: 8px;
          width: 8px;
          border-radius: 50%;
          align-self: center;
        }
      }
      & p:nth-child(1)::before {
        background-color: #282d30;
      }

      & p:nth-child(2)::before {
        background-color: #e60000;
      }
    }
  }

  .custom-tooltip {
    background-color: #e60000;
    width: 40px;
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      color: $white;
      font-weight: 500;
      font-size: 7px;
      line-height: 24px;
      margin-top: 7px;
    }
  }
}
