.chart-session {
  position: relative;
  width: 100%;
  max-width: 258px;
  height: 256px;
  background-color: #ff0000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.02);
  border-radius: 5px;

  .title {
    position: absolute;
    top: 30px;
    left: 35px;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff70;
  }

  .custom-tooltip {
    background-color: $white;
    width: 40px;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      color: $black;
      font-weight: 500;
      font-size: 8px;
    }
  }
}
