.dashboard {
  .statistique {
    display: flex;
    gap: 30px;
    margin-top: 40px;

    .charts {
      display: flex;
      flex-direction: column;
      gap: 30px;
      max-width: 835px;
    }
    .bottom-charts {
      display: flex;
      gap: 30px;
    }
    .keydata {
      width: 33%;
      display: flex;
      gap: 40px;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 1400px) {
  .dashboard {
    .statistique {
      flex-direction: column;

      .keydata {
        max-width: 835px;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 27px;
      }
    }
  }
}
